alignment/fine_registration/build/*
alignment/rotate_align/build/*

capture/super_resolution/build/*
capture/depth_capture/build/*

clean/cloud_downsampling/build/*
clean/outlier_removal/build/*
clean/scale/build/*
clean/transform/build/*

build/*

bin/*
bin_casa/*
bin_trabalho/*
